body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ffb347;
    padding: 20px;
    color: white;
  }
  
  button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #ffb347;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #ffa500;
  }
  
  ul {
    list-style: none;
    padding: 0;
    cursor: pointer;
  }
  
  li {
    background-color: #fff;
    margin: 10px auto;
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }